.carouselContainer {
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: relative;
  height: 200px;
}

.carousel {
  position: relative;
  width: 100%;
  height: 100%;
}

.carouselItem {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
  overflow: hidden;
}

.carouselItem.active {
  opacity: 1;
  z-index: 1;
}

.carouselImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@media (max-width: 768px) {
  .carouselContainer {
    height: 180px;
  }
}

@media (max-width: 480px) {
  .carouselContainer {
    height: 150px;
  }
}

